Value DESTINATION_ADDRESS (\w+.\w+.\w+)
Value TYPE (\w+)
Value VLAN (\w+)
Value DESTINATION_PORT (\S+)

Start
  ^Vlan\s+Mac Address\s+Type\s+Ports -> XE

XE
  ^\s+${VLAN}\s+${DESTINATION_ADDRESS}\s+${TYPE}\s+${DESTINATION_PORT} -> Record