Value PORT (\S+)
Value ALIGNERR (\w+)
Value FCSERR (\w+)
Value XMITERR (\w+)
Value RCVERR (\w+)
Value UNDERSIZE (\w+)
Value OUTDISCARDS (\w+)

Start
  ^Port\s+Align-Err\s+FCS-Err\s+Xmit-Err\s+Rcv-Err\s+UnderSize\s+OutDiscards\s+ -> XE

XE
  ^${PORT}\s+${ALIGNERR}\s+${FCSERR}\s+${XMITERR}\s+${RCVERR}\s+${UNDERSIZE}\s+${OUTDISCARDS}\s+ -> Record